- @title = "#{@inquiry.name}"
.page-actions.btn-group
  = link_to 'Back', backend_inquiries_path, :class => 'btn btn-default btn-round'

.clearfix

p = "Name: #{@inquiry.name}"
p = "Email: #{mail_to(@inquiry.email)}".html_safe
p 
  | Mobile Phone: 
  a href="tel:#{@inquiry.mobile_phone}" = @inquiry.mobile_phone
p = "Comment: #{@inquiry.comment}"
p = "Property ID: #{link_to(@inquiry.property_id, [:backend, Property.friendly.find(@inquiry.property_id)]) rescue @inquiry.property_id}".html_safe
