.dropzone{
  min-height: 60px !important;
  border: 2px dotted #E0E0E0;
  margin: 15px 0px;
  padding: 0px;
  background: #F3FFFF;
  .dz-message{
    font-size: 24px;
  }
  .dz-details{
    border: 1px solid #EEE;
  }
}