.dropzone{
  min-height: 60px !important;
  border: 3px dotted #E0E0E0;
  margin: 15px 0px;
  padding: 0px;
  background: #F9F9F9;
  .dz-message{
    font-size: 24px;
  }
  .dz-details{
    border: 1px solid #EEE;
  }
}