*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
  font-weight: normal;
  color: #666;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}
body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #f8f8f8;
  word-wrap: break-word;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

header .navbar {
  position: static;
  margin: 0;
  border-radius: 0;
  border: 0;
  color: #fff;
  text-align: center;
  background-color: #333;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  .navbar-header a {
    color: #FFF;
  }
  background-color: #333333;
  .navbar-collapse {
    background-color: #333333;
  }
  .navbar-header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0 0;
    line-height: 1;
  }
  .top-header {
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    a {
      display: inline-block;
      padding: 0 1em;
      line-height: 2.5;
      color: #F6F6F6;
      opacity: 0.5;
      background-color: rgba(255, 255, 255, 0.1);
      margin: 0px 1px;
      &:hover {
        color: #FFF;
        opacity: 1;
      }
    }
  }
  .container .navbar-brand {
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .navbar-brand a {
    font-size: 24px;
    font-weight: 100;
    color: #DDD;
  }
  .navbar-header {
    .navbar-contact-details {
      margin: 5px 0;
    }
    .navbar-toggle {
      position: absolute;
      right: 15px;
      margin: 3px 0 0 30px;
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }
  .container .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-header .navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
    margin: 0 0 5px;
    border-radius: 0;
    background-color: #ccc;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-phone-number {
    font-size: 1em;
    color: #FFF;
  }
  .navbar-email {
    margin-top: 5px;
    font-size: 1em;
    opacity: 0.5;
  }
  .container .navbar-collapse {
    max-height: none;
    margin-top: 15px;
    padding: 0;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav, nav > div {
    float: none;
    margin: 0;
    font-weight: 700;
  }
  .navbar-nav > ul, nav > div > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar-nav > ul > li a, nav > div > ul > li a {
    position: relative;
    display: block;
    padding-left: 15px;
    color: #eee;
    line-height: 50px;
  }
  .navbar-nav > ul > li {
    &:hover a::after {
      opacity: 0.8;
    }
    a::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #70b9a0;
      content: '';
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translate3d(0, -2px, 0);
      -moz-transform: translate3d(0, -2px, 0);
      -ms-transform: translate3d(0, -2px, 0);
      -o-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
    }
  }
  background-color: #333333;
  .navbar-collapse {
    background-color: #333333;
  }
}

@media (min-width: 768px) {
  header .navbar {
    text-align: left;

    .top-header {
      text-align: right;
    }
    .navbar-header {
      padding: 25px 0 0;
      .navbar-brand{
        float: left;
      }
      .navbar-contact-details {
        margin-top: 0;
        text-align: right;
        float: right;
      }
    }
    .navbar-nav > ul > li, nav > div > ul > li {
      position: relative;
      float: left;
    }
    .navbar-nav > ul > li a, nav > div > ul > li a {
      padding: 0 20px;
      line-height: 50px;
    }
  }
}

@media (max-width: 767px) {
  header .navbar .container .navbar-collapse {
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 100%;
    width: 75%;
    height: 100% !important;
    margin: 0;
    text-align: left;
  }
  body.show-nav {
    left: -75%;
  }
}


#property-slideshow {
  position: relative;
  .guide-block{
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 40%;
    text-align: center;
    height: auto;
    .links{
      padding: 20px;
      display: inline-block;
      min-width: 40%;
      max-width: 70%;
      padding-bottom: 15px;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .btn-group{
      .btn{
        float: none !important;
      }
    }
  }
}


.flexslider{
  border: none;
  ul.slides li img{
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#property-items {
  margin-bottom: 50px;
}

#compare-properties-popup {
  display: none;
  margin: 30px 0;
  padding: 30px 0;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.property-item {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #DDD;
  img{
    max-width: none;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .title {
    margin-bottom: 0em;
    font-size: 1.3em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
  }
  .property-content {
    text-align: center;
    background: #fff;
    .property-meta {
      min-height: 72px;
      padding: 15px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 0.9em;
      line-height: 2;
      color: #999999;
      text-align: center;
      .meta-title {
        display: inline-block;
        width: 20px;
        font-weight: 700;
      }
      .meta-data {
        display: inline-block;
      }
      & > div{
        width: 50%;
        float: left;
      }
    }
  }
  figcaption{
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .property-title {
    padding: 10px 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
  }
  .subtitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #999999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .property-excerpt {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    opacity: 0;
    line-height: 1.7;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #70b9a0;
      content: '';
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .property-thumbnail {
    position: relative;
    overflow: hidden;
  }
  &:hover .property-excerpt {
    opacity: 1;
    &::after {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .property-price {
    padding: 0 15px;
    line-height: 50px;
    color: #666666;
    text-align: left;
    background-color: #e9e9e9;
    overflow: hidden;
    .price-tag {
      float: right;
      color: #333;
    }
  }
}


@media (min-width: 1200px){
  .property-item {
    font-size: 0.9em;
    .title {
      font-size: 1.3em;
    }
  }
}

@media (min-width: 992px){
  .property-item{
    .property-price {
      font-size: 1.1em;
    }
  }
}

@media (min-width: 768px){
  .property-item{
    img{
      width: -webkit-calc(120%);
      width: calc(120%);
      -webkit-filter: grayscale(0%);
      filter: none;
      -webkit-transform: translate3d(-10px, 0, 0);
      -moz-transform: translate3d(-10px, 0, 0);
      -ms-transform: translate3d(-10px, 0, 0);
      -o-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
    figcaption{
      position: absolute;
      text-align: right;
    }
    .property-title {
      position: absolute;
      text-align: right;
    }
    .property-excerpt {
      display: block;
    }
    .property-price {
      line-height: 40px !important;
    }
    .property-content{
      .property-meta {
        text-align: left;
      }
    }
  }
}