body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #f8f8f8;
  word-wrap: break-word;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

header.navbar {
  position: static;
  margin: 0;
  border-radius: 0;
  border: 0;
  color: #fff;
  text-align: center;
  background-color: #333;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  .navbar-header a {
    color: #FFF;
  }
  background-color: #333333;
  .navbar-collapse {
    background-color: #333333;
  }
  .navbar-header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0 0;
    line-height: 1;
  }
  #login-bar-header {
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    a {
      display: inline-block;
      padding: 0 1em;
      line-height: 2.5;
      color: #eee;
      opacity: 0.5;
      background-color: rgba(255, 255, 255, 0.1);
      margin: 0px 1px;
      &:hover {
        color: #FFF;
        opacity: 1;
      }
    }
  }
  .container .navbar-brand {
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .navbar-brand a {
    font-size: 24px;
    font-weight: 100;
    color: #DDD;
  }
  .navbar-header {
    .navbar-contact-details {
      margin: 25px 0;
    }
    .navbar-toggle {
      position: absolute;
      right: 15px;
      margin: 3px 0 0 30px;
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }
  .container .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-header .navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
    margin: 0 0 5px;
    border-radius: 0;
    background-color: #ccc;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-phone-number {
    font-size: 1.3em;
    color: #FFF;
  }
  .navbar-email {
    margin-top: 5px;
    font-size: 1em;
    opacity: 0.5;
  }
  .container .navbar-collapse {
    max-height: none;
    margin-top: 25px;
    padding: 0;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav, nav > div {
    float: none;
    margin: 0;
    font-weight: 700;
  }
  .navbar-nav > ul, nav > div > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar-nav > ul > li a, nav > div > ul > li a {
    position: relative;
    display: block;
    padding-left: 15px;
    color: #eee;
    line-height: 50px;
  }
  .navbar-nav > ul > li {
    &:hover a::after {
      opacity: 0.8;
    }
    a::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #70b9a0;
      content: '';
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translate3d(0, -2px, 0);
      -moz-transform: translate3d(0, -2px, 0);
      -ms-transform: translate3d(0, -2px, 0);
      -o-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
    }
  }
  background-color: #333333;
  .navbar-collapse {
    background-color: #333333;
  }
}

@media (min-width: 768px) {
  header.navbar {
    text-align: left;
    #login-bar-header {
      text-align: right;
    }
    .navbar-header {
      padding: 25px 0 0;
      .navbar-contact-details {
        margin-top: 0;
        text-align: right;
      }
    }
    .navbar-nav > ul > li, nav > div > ul > li {
      position: relative;
      float: left;
    }
    .navbar-nav > ul > li a, nav > div > ul > li a {
      padding: 0 20px;
      line-height: 70px;
    }
  }
}

@media (max-width: 767px) {
  header.navbar .container .navbar-collapse {
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 100%;
    width: 75%;
    height: 100% !important;
    margin: 0;
    text-align: left;
  }
  body.show-nav {
    left: -75%;
  }
}