.right-block{
  background: #FFF;
  border: 1px solid #EEE;
  margin-bottom: 15px;
  & > .title{
    padding: 8px 0px;
    font-size: 1em;
    font-weight: bold;
    background: #FFF;
    border-bottom: 1px dotted lighten($base, 10%);
    text-align: center;
    color: #777;
  }
  ul{
    margin: 0px;
    li{
      padding: 10px 5px;
      border-bottom: 1px solid #F9F9F9;
      &.more{
        text-align: center;
        border-top: 1px dotted lighten($base, 10%);
        font-weight: bold;
        border-bottom: none;
        a{
          font-style: normal;
          text-decoration: underline;
        }
      }
      a.item{
        color: #777;
        font-size: 13px;
        display: block;
      }
      &:hover{
        a{
          color: $base;
        }
      }
      .pagination{
        display: block;
        margin: 2px;
        text-align: center;
        a{
          display: inline;
        }
      }
    }
  }
}
.page{
  .title{
    font-size: 1.5em;
    color: #666;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #EEE;
    line-height: 1.7em;
  }
  .date{
    font-size: 13px;
    font-style: italic;
    text-align: right;
    display: block;
  }
  .content{

    margin: 25px 10px;
  }
}