.property{
  .basic{
    background: #FFF;
    border: 1px solid #EEE;
    padding: 2px;
    .title{
      background: #F0B370;
      padding: 10px;
      color: #FFF;
      font-size: 20px;
      font-weight: 400;
      i{
        font-size: 13px;
        font-weight: bold;
      }
    }
    .price{
      font-size: 24px;
      padding: 10px 2px;
      position: relative;
      margin: 5px -2px;
      border-bottom: 1px solid #EEE;
    }
    ul{
      list-style: none;
      padding: 0px;
      color: #888;
      li{
        padding: 4px;
        border-bottom: 1px dotted #E9E9E9;
        span:last-child{
          float: right;
        }
      }
    }
  }
  ul.nav-tabs{
    background: #666;
    // padding: 5px;
    li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
      border: none !important;
    }
    li{
      margin-bottom: 0px;
      &.active a{
        background: rgba(0, 0, 0, 0.8);
        color: #FFF;
      }
      a{
        color: #DDD;
        border-radius: 0px;
        border: none;
        margin-right: 0;
        &:hover{
          opacity: 0.8;
          background: rgba(0, 0, 0, 0.6);
          border: none;
        }
      }
    }
  }
  .row.booleans{
    color: #999;
    .fa{
      line-height: 2;
    }
    .fa-check{
      color: $base;
    }
    .yes{
      color: #333;
    }
  }
}


.latest-properties{
  & > .title{
    padding: 10px 0px;
    font-weight: 400;
    text-align: center;
    color: #666;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
  & > .subtitle{
    padding: 5px 0px;
    margin: 5px 0px;
    .area{
      font-weight: bold;
      text-decoration: underline;
    }
    .desc{
      text-align: center;
      color: #777;
      font-size: 12px;
    }
    .more{
      text-align: right;
      font-style: italic;
      text-decoration: underline;
    }

  }
}